
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #f2f3f5;
}

/* START */

.blueHeader {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: #0b0b31;
    margin: 0px;       
    z-index: 1;
}

.demoLink {
    position: relative;
    color:#a0a0a2;
    padding: 1px;
    left: 100px;
    top: 9px;
    letter-spacing: 1px;  
    font-family: arial;
    font-size: small;
}

.blueHeaderNav li {
    display: inline;    
    color: white;   
    font-family: arial;
    font-size: small;
}

a:link {
    position: relative;
    text-decoration: none;
    color: #a0a0a2;
    padding-top: 7px;
    right: 100px;
    top: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* END OF THE BLUE HEADER */

.mainHeader {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 95px;
    /* left: 87px; */
}

.mainHeader img {
    position: relative;
    bottom: 24px;
    right: 119px;
}

.boxItem {
    position: relative;
    top: 27px;
    left: 109px;
    display: inline;
    background-color: #0b0b31;
    color: #eaeaed;
    padding: 4px 20px;
    border-radius: 6px;
    font-family: "Oswald", serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* END OF 2ND HEADER */


.detroixMan {
    position: relative;
    top: 99px;
    left: 102px;
    width: 87%;
    border-radius: 10px;
}

/* END OF DETROIX MAN IMAGE */

.circlesContainer {
    display: flex;
    justify-content: center;
}

.circles {
    /* position: relative; */
    padding: 15px;
    background-color: #808080;
    top: 95px;
    display: inline;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 3px;
}

/* END OF CIRCLES */

.featuresContainer {
    display: flex;
    justify-content: center;
    text-align: left;
    color: grey;   
    margin-left: 41px;
    margin-right: 26px;
    font-family: Arial;
}

.features {
    border: 3px solid grey;
    /* height: 400px; */
    padding: 50px;
    margin-top: 30px;
    border-top: 4px solid grey;
    border-bottom: none;   
}

h2 {
    font-family: "Oswald", sans-serif;
    font-weight: light;
    letter-spacing: 2px;
    color: black;
    margin-bottom: 30px;  
}

.features img {
    width: 250px;
    margin-bottom: 30px;
}

.featuresSmart {
    border-left: none;
}

.featuresStable {
    border-right: none;
}

p {
    padding-right: 50px;
}

button {
    width: 100px;
    height: 40px;
    background-color: #213349;
    color: white;
    text-transform: uppercase;
    font-size: larger;
    border-radius: 5px;
    margin-top: 40px;
}

.stableButton {
    position: relative;
    top: 5px;
}

/* END OF FEATURES */


footer {
    width: 100%;
    height: 600px;
    background: linear-gradient(0deg, rgba(23,37,52,1) 0%, rgba(15,24,33,1) 100%);
    margin-top: 20px;
    position: relative;
    color: white;
    font-family: arial;
}

.threeSections {
    display: flex;
    justify-content: space-evenly;
}

.footerItems {   
    margin: 20px;
    padding: 30px;
}

.footerItems h2 {
    color: white;
    font-family: "Oswald", serif;
    text-transform: uppercase;
}

.ulFooter {
    list-style: none;   
}

.ulFooter li {
    width: 300px;
    margin-bottom: 15px;
    display: flex;
}

.ulFooter li p {
    display: inline;
    color: grey;
}

.ulFooter li img {
    width: 10px;
    height: 10px;
    margin-right: 7px;
    position: relative;
    top: 4px;
}

.boxOpportunity img {
    width: 15px;
    position: relative;
    right: 5px;
}

.boxOpportunity h3 {
    display: inline;
}

.boxOpportunity p {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    padding-right: 5px;
    color: grey;
    position: relative;
    left: 22px;
}

.newsDates {
    display: flex;
}

.newsDates img {
    width: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.newsDates p {
    color: grey;
    width: 300px;
}

.servicesButton {
    position: relative;
    bottom: 10px;
}

.opportunityButton {
    position: relative;
    top: 4px;
    right: 5px;
}

.newsButton {
    position: relative;
    bottom: 3px;
}

.extraFooter {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #0b0b31;
    color: white;
}

.extraFooter p {
    position: relative;
    text-transform: uppercase;
    top: 33px;
    padding-left: 75px;
}
